# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/target/
/src/test/

/out
/classes
/checkouts
/.lein-*
/.env
.DS_Store
*/target
.svn
.project
.settings
.classpath
logs
/log
/tmp
hotspot.log
